
/* css reset 对所有元素进行初始化统一*/
*{
    margin: 0;
    padding: 0;
}
body{
    background: #f6f6f6;
    font: 12px/1.5 tahoma, Arial, Microsoft YaHei, sans-serif;
}
li{
    list-style: none;
}
img{
    display: block;
    border: none;
}
label{
    cursor: pointer;
}
input[type='checkbox']{
    cursor: pointer;
}

/* 定宽布局 */
.w{
    width: 1080px;
    margin: 0 auto;
    position: relative;
/*用途：将超出边界的东西不显示，并消除浮动即排列重叠的元素*/
    overflow: hidden;
}

/* 全局通用样式 */
/* 隐藏类 */
.hide{
    display: none;
}
/* 超链样式 */
.link{
    color: #999;
    cursor: pointer;
    text-decoration: none;
}
.link:hover{
    color: #66BB6A;
}
.link-text{
    color: #999;
    text-decoration:none;
}
/* 按钮 */
.btn{
    display: inline-block;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    border: none;
    background: #212121;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}
.btn-mini{
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    padding: 0 10px;
}
/* 加载 */
.loading{
    margin: 10px auto;
    display: block;
    width: 100px;
    height: 100px;
    background: url(../../images/icon/loading.gif) no-repeat;

}
