<!DOCTYPE html>
<html lang="en">
<head>
    <%= require('html-loader!./layout/head-common.html') %>
    <%= require('html-loader!./layout/head-select.html') %>
    <title>专利系统index页面</title>
</head>

<body>
<%= require('html-loader!./layout/nav.html') %>
<%= require('html-loader!./layout/nav-simple.html') %>
<%= require('html-loader!./layout/header.html') %>
<div class="page-wrap w">
    <%= require('html-loader!./layout/nav-side.html') %>
    <div class="content with-nav">
        <%= require('html-loader!./layout/select-search-point.html') %>
        <%= require('html-loader!./layout/second-search.html') %>
        <%= require('html-loader!./layout/search-result.html') %>
    </div>
</div>
<%= require('html-loader!./layout/footer.html') %>
</body>
</html>