<!DOCTYPE html>
<html lang="en">
<head>
    <%= require('html-loader!./layout/head-common.html') %>
    <title>专利系统index页面</title>
</head>

<body>

<div>
    <a class="link">hello 123</a>
    <a class="link-text">test</a>
</div>
<div>
    <a class="btn">hello 123</a>
    <a class="btn btn-mini">test</a>
</div>
<div>
    <div class="loading"></div>
</div>

<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<%= require('html-loader!./layout/footer.html') %>
</body>
</html>