<!--搜索条件框-->
<div class="card card-default">
    <!--头信息-->
    <div class="card-header">
        <h3 class="card-title">专利搜索</h3>
        <!--/*框选项*/-->
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
            <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
        <!--框选项结束-->
    </div>
    <!--头信息结束-->
    <div class="card-body">
        <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
                <!--搜索项选择器-->
                <section class="content">
                    <div class="container-fluid">
                        <!-- /.col -->
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>专利所有人搜索</label>
                                <select id="select2-item-person" class="form-control select2" multiple="multiple" data-placeholder="专利所有人"
                                        style="width: 100%;">
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputFile">文件输入</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="exampleInputFile">
                                        <label class="custom-file-label" for="exampleInputFile">选择上传的文件</label>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">搜索</button>
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </section>
                <!--搜索器选择项结束-->
            </div>
            <!-- /.tab-pane -->
            <div class="tab-pane" id="tab_2">
                <section class="content">
                    <div class="container-fluid">
                        <!-- /.col -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <select class="form-control select2" multiple="multiple" data-placeholder="Select a State"
                                        style="width: 100%;">
                                    <option>Alabama</option>
                                    <option>Alaska</option>
                                    <option>California</option>
                                    <option>Delaware</option>
                                    <option>Tennessee</option>
                                    <option>Texas</option>
                                    <option>Washington</option>
                                </select>
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </section>
            </div>
            <!-- /.tab-pane -->
            <div class="tab-pane" id="tab_3">
                <section class="content">
                    <div class="container-fluid">
                        <!-- /.col -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <select class="form-control select2" multiple="multiple" data-placeholder="Select a State"
                                        style="width: 100%;">
                                    <option>Alabama</option>
                                    <option>Alaska</option>
                                    <option>California</option>
                                    <option>Delaware</option>
                                    <option>Tennessee</option>
                                    <option>Texas</option>
                                    <option>Washington</option>
                                </select>
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </section>
            </div>
            <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
    </div>
</div>